@import 'theme/theme';
.index {
    background-color: $black;
    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .main-bg {
        position: relative;
        &::before {
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            position: absolute;
            top: 0;
            background-image: url("../img/landing-img-mobile.png");
            background-position: top center;
            background-repeat: no-repeat;
            z-index: -1;
            background-size: contain;
        }
    }
    .hero {
        .hero-block {
            background: $blue-51;
            opacity: 0.9;
            border-radius: 1.25rem;
        }
        .form-control {
            &::placeholder {
                font-style: italic;
                font-weight: 300;
                font-size: .75rem;
                color: $grey-74;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
    .footer {
        background-color: $black;
        .list-inline {
            .list-inline-item {
                margin-right: 0;
                border-right: 1px solid $white;
                .btn-link {
                    font-size: .75rem;
                    --bs-link-color: #{$white};
                    --bs-link-hover-color: #{$grey-215};
                }
            }
            .list-inline-item:last-child {
                border-right: none;
            }
            .list-inline-item.border-right:last-child {
                border-right: 1px solid $white;
                @include media-breakpoint-down(lg) {
                    border-right: none;
                }
            }
        }
    }
}
